body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    margin: 20px;
    text-align: center;
    background-image: url(bhavya.png);
    background-size: cover;
    color: aliceblue;
  }
  
  h1 {
    text-align: center;
    color: #db0e0e;
    margin-bottom: 50px;
    text-shadow: 3px 3px 5px rgb(215, 226, 63);
    font-size: 40px;
  }
  
  form {
    margin-bottom: 80px;
    color: aliceblue;
  }
  
  input,
  select,
  button {
    margin: 5px;
    border: 2px solid #b44519;
    padding: 10px;
    color: #b44519;
    background-color: aliceblue;
  }
  
  input[type="submit"],
  button {
    cursor: pointer;
  }
  
  #productList {
    border: 2px solid #9ea4dd;
    padding: 10px;
    background-color: aliceblue;
    color: #9ea4dd;
  }
  
  .error {
    color: #db0e0e;
  }
  
  .success {
    color: #42b72a;
  }
  